@import '../index.css';


.debug-border{
    border: 2px solid red;
}
.home-page-upload-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-primary);
    justify-content: center;
    height: 40vh;
    gap: 10px;
}

.home-page-upload-container-input{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 2px dashed var(--accent-color);
    border-radius: 10px;
}

.home-page-upload-container-input-items{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-page-upload-container-input-button{
    color: var(--accent-color) !important;
    background-color: var(--bg-primary) !important;
}

.home-page-upload-container-input-button:hover{
    background-color: var(--accent-color) !important;
    color: var(--bg-primary) !important;
}

.home-page-upload-container-input-icon{
    color: var(--accent-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    padding: 10px;
}

.home-page-upload-container-input-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-page-upload-container-input-image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-page-upload-container-input-image{
    width: auto;
    height: 30vh;
}

.home-page-upload-container-upload-button{
    background-color: var(--accent-color) !important;
    width: 30%;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}

.home-page-upload-container-upload-button:hover{
    background-color: var(--bg-primary) !important;
    color: var(--accent-color) !important;
}